In [1]:
import dill
import pandas as pd
import datetime

In [2]:
print("Pandas version", pd.__version__)

Pandas version 1.2.4

In [3]:
df = dill.load(open('prices/AZN.pkd', 'rb'))

In [4]:
df

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
1994-12-01,39.13,39.3800,39.13,39.3800,12500,2.656528,2.673500,2.656528,2.673500,75000,0.0,1.0
1994-12-02,38.75,39.1300,38.75,39.1300,1500,2.630730,2.656528,2.630730,2.656528,9000,0.0,1.0
1994-12-05,38.75,38.9400,38.75,38.8700,41500,2.630730,2.643629,2.630730,2.638877,249000,0.0,1.0
1994-12-06,38.87,38.8700,38.75,38.8700,15800,2.638877,2.638877,2.630730,2.638877,94800,0.0,1.0
1994-12-07,39.00,39.2800,38.75,38.7500,56600,2.647702,2.666711,2.630730,2.630730,339600,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-13,50.88,51.2500,50.67,50.7400,11452845,50.880000,51.250000,50.670000,50.740000,11452845,0.0,1.0
2021-01-14,51.29,51.8000,51.17,51.4700,11521679,51.290000,51.800000,51.170000,51.470000,11521679,0.0,1.0
2021-01-15,51.34,51.5600,51.13,51.2900,9523952,51.340000,51.560000,51.130000,51.290000,9523952,0.0,1.0
2021-01-19,52.57,52.6600,52.21,52.5200,13568686,52.570000,52.660000,52.210000,52.520000,13568686,0.0,1.0
2021-01-20,52.24,52.6532,51.91,52.6532,13626186,52.240000,52.653200,51.910000,52.653200,13626186,0.0,1.0

In [7]:
def calculate_highest_profit(ticker, date):
    profits = []
    
    df = dill.load(open('Prices/' + ticker + '.pkd', 'rb'))
    df = df['close'].reset_index()
    
    df = df[df['date'] >= date]
    
    if df.empty:
        raise Exception("No data for " + date)
    else:
        initial_price = df['close'].iloc[0]
    
        for i in range(12):
            date = (datetime.datetime.strptime(date, '%Y-%m-%d') + datetime.timedelta(days = 30)).strftime('%Y-%m-%d')
            df = df[df['date'] >= date]
            if df.empty:
                raise Exception("No data for " + date)
            else:
                new_price = df['close'].iloc[0]
                profits.append((initial_price - new_price, i + 1))
        
        return max(profits)

In [8]:
calculate_highest_profit('AZN', '2020-01-01')

(5.730000000000004, 3)